<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.english.mapper.ESignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljb.english.pojo.ESign">
        <id column="l_id" property="lId" />
        <result column="u_id" property="uId" />
        <result column="w_id" property="wId" />
        <result column="l_rank" property="lRank" />
        <result column="l_is_memo" property="lIsMemo" />
    </resultMap>

</mapper>
