<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.english.mapper.EUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljb.english.pojo.EUser">
        <id column="u_id" property="uId" />
        <result column="u_name" property="uName" />
        <result column="u_pwd" property="uPwd" />
        <result column="u_rank" property="uRank" />
        <result column="u_email" property="uEmail" />
    </resultMap>


</mapper>
